body {
    width: 250px; 
}

#content {
    overflow-y: auto; 
    height: 100px;
    margin-bottom: 10px;
}

#title {
    font-size: 16px;
    margin-bottom: 10px;
}

#text {
    text-align: left;
}

#refresh{
    background-size: 15px 15px;
    max-width: 20px;
    padding: 15px;
    margin: 5px;
}