body {
    font-family: 'Georgia', serif;
    font-size: 14px;
    color: #333;
    margin: 10px;
    background-color: #f8f4e3;
    width: 250px; 
    height: auto; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

#content {
    overflow-y: auto; 
    height: 100px;
    margin-bottom: 10px;
}

#title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

#text {
    text-align: left;
}

#refresh {
    border: none;
    background-color: #cfcfcf;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
    max-width: 150px;
    transition: 0.2s ease;
}

#refresh:hover {
    background-color: #e8e8e8;
    transform: scale(1.1);
}
